---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from "../config";
import Body from "../components/Body.astro";
import Content from "../components/Content.astro";
import { IoArrowForward } from "react-icons/io5";
import Masthead from "../components/Masthead.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <Masthead />
      <Content>
        <section>
          <p class="mb-8 indent-4">
            Blog website ini dibuat untuk semua angkatan KPI STAI Daarut Tauhiid
            untuk menyimpan semua hasil karya-karya mereka maupun itu tulisan,
            video, dan gambar, semoga website ini bisa dikembangkan lebih lanjut
            bersama-sama teman KPI, dan semoga website ini menjadi jalan kami
            untuk bisa berkarya dan mencari ridho Allah.
            <a
              href={HOMEPAGE_URL}
              target="_blank"
              class="inline-flex items-center gap-1 indent-1 text-orange-500"
              >Baca lebih lanjut tentang STAI Daarut Tauhiid <IoArrowForward
                className="inline"
              />
            </a>
          </p>
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
