---
const today = new Date();
---

<footer class="text-zinc-500 p-4 text-center">
  <!-- &copy; {today.getFullYear()} YOUR NAME HERE. All rights reserved. -->
  &copy; {today.getFullYear()} Made with <span class="text-red-500">❤</span> by <a
    class="inline-flex items-center gap-1 indent-1 underline underline-offset-4 decoration-orange-500"
    href="https://raulon.vercel.app"
    target="_blank"
    >RaulOn
  </a> & <a
    class="inline-flex items-center gap-1 indent-1 underline underline-offset-4 decoration-orange-500"
    href="https://staidaaruttauhiid.ac.id/">KPI STAI DT</a
  >. All rights reserved.
</footer>
