---
import HeaderLink from "./HeaderLink.astro";
import { HOMEPAGE_URL, SITE_TITLE } from "../config";
import { IoLogoGithub, IoLogoInstagram } from "react-icons/io5";
import Amongus from "./icons/amongus";
import ThemeTogglerButton from "./ThemeTogglerButton";
---

<header class="fixed w-full p-2 z-20 backdrop-blur-md">
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center gap-3 text-base">
      <a href="/" class="group">
        <h2 class="font-semibold tracking-tighter p-2 font-mplus text-lg">
          <Amongus />
          Helvetica
        </h2>
      </a>
      <div class="items-center gap-6 hidden md:flex">
        <HeaderLink href={HOMEPAGE_URL}>About</HeaderLink>
        <HeaderLink href="https://twitter.com/astrodotbuild" target="_blank"
          ><IoLogoInstagram />Instagram</HeaderLink
        >
        <HeaderLink href="https://github.com/withastro/astro" target="_blank"
          ><IoLogoGithub /> Source</HeaderLink
        >
      </div>
      <div class="flex-1"></div>
      <ThemeTogglerButton client:load />
    </nav>
  </div>
</header>
